* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
            /* header */

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: blue;
}

#logo img {
    vertical-align: middle;
}

.contenitore {
    max-width: 1180px;
    width: 80%;
    margin: auto;
    position: relative;
}

.barra-nav::after {
    display: table;
    content: "";
    clear: both;
}

#logo {
    float: left;
}

header nav {
    float: left;
    width: 50%;
    text-align: center;
    margin: 0 10%;
    vertical-align: middle;
}

.login .bottone-uno {

    padding: 6px 12px;
    background-color: white;
    text-decoration: none;
    border-radius: 40px;
    color: rgb(22, 22, 22);
    display: inline;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
} 

header ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
}

            /* fine header */

            /* inizio JUMBOTRON */

#jumbotron {
    background-image: url('img/jumbo.png');
    min-height: 600px;
    background-size: cover;
}

.testo {
    color: white;
    padding-top: 80px;
    margin-left: 60px;
}

#jumbotron h1 {
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 40px;
}

#jumbotron p {
    font-size: 18px;
    font-weight: 600;
}

#jumbotron .contenitore {
    max-width: 780px;
    text-align: center;
}

#buttons {
    margin-top: 30px;
}

.btn {
   font-size: 20px;
   text-decoration: none;
   background-color: white;
   border-radius: 40px;
   padding: 14px 20px;
   margin-right: 15px;
}

.black-btn {
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 40px;
    padding: 14px 20px;
}
            /* fine JUMBOTRON */


#sfondo a {
    text-decoration: none;
}

.sfondo-nero {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 33%;
}

.sfondo-nero h1 {
    font-size: 50px;
}

.sfondo-nero p {
    font-size: 22px;
    margin-top: 20px;
}


                /* inizio FOOTER */

footer {
    height: 800px;
    background-color: rgb(39, 38, 38);
    margin-top: 100px;
}

#centro-del-footer {
    width: 80%;
    margin: auto;

}

#first-ul {
    margin-right: 120px;
    float: left;
    margin-top: 90px;
}

#titoletto {
    color: rgb(41, 41, 221);
    font-size: 36px;
    width: 300px;
    margin-right: ;
}

.ulist {
    margin-top: 100px;
    margin-right: 89px;
    display: inline;
    float: left;
    list-style: none;
}

.list-title {
    color: rgb(41, 41, 221);
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px;
}

.list-item {
    color: rgb(240, 233, 233);
    text-shadow: 1px 1px 1px;
    margin-bottom: 20px;
}

footer::before {
    display: table;
    content: "";
    clear: both;
}

#hr-footer {
    margin-bottom: 100px;
}

hr {
    border-color: rgb(41, 41, 221);
}

                /* fine FOOTER */