* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: blue;
}

#logo img {
    vertical-align: middle;
}

.contenitore {
    max-width: 1180px;
    width: 80%;
    margin: auto;
    position: relative;
}

.barra-nav::after {
    display: table;
    content: "";
    clear: both;
}

#logo {
    float: left;
}

header nav {
    float: left;
    width: 50%;
    text-align: center;
    margin: 0 10%;
    vertical-align: middle;
}

.login .bottone-uno {
    float: right;
    padding: 0 16px;
    background-color: white;
    text-decoration: none;
    border-radius: 40px;
    color: rgb(22, 22, 22);
    text-align: right;
    display: inline;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
} 

header ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
}

#sfondo {
    background-image: url('img/jumbo.png');
    min-height: 600px;
    background-size: cover;
}

.testo {
    color: white;
    padding-top: 100px;
}

#sfondo h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

#sfondo p {
    font-size: 22px;
}

#sfondo .contenitore {
    max-width: 780px;
    text-align: center;
}

#buttons {
    margin-top: 30px;
}

.bottone {
   background-color: white;
   border-radius: 40px;
   padding: 8px 16px;
   margin-right: 15px;
}

.bottone-nero {
    background-color: black;
    color: white;
    border-radius: 40px;
    padding: 8px 16px;
}

#sfondo a {
    text-decoration: none;
}

.sfondo-nero {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 33%;
}

.sfondo-nero h1 {
    font-size: 50px;
}

.sfondo-nero p {
    font-size: 22px;
    margin-top: 20px;
}